body{
    padding: 0;
    margin: 0;
    background-color: #bbdbfc;
}
.container{
    width: 200pt;
    height:200pt;
    
    transform: translate(-50%,-50%);
    margin:4vw;
    position:relative;
    flex: 0 1 20vw;
    bottom: -60pt;
}
.pineapple{
    background-color: #ffd500;
    height: 12vw;
    width: 10vw;
    border-radius: 4vw;
    position: absolute;
    top: 7vw;
    left: 0;
    right: 0;
    margin: auto;

    background-size: 200% 200%;
    background-position: 0 1vw;
}
.helmet{
    background-color: #ff9101;
    height: 6vw;
    width: 10.5vw;
    border-radius: 4vw 4vw 1vw 1vw;
    position: absolute;
    top: -1.5vw;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: -0.3vw;
    background-size: 200% 200%;
    background-position: 0 1vw;
}
.etiquette{
    background-color: #fff3e3;
    height: 3vw;
    width: 3.5vw;
    border-radius: 0.5vw;
    position: absolute;
    top: 2.5vw;
    left: 0;
    right: 0;
    margin: auto;
}
.visiere{
    background-color: #db7c00;
    height: 1vw;
    width: 10.5vw;
    border-radius: 6vw 6vw 1vw 1vw;
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    margin: auto;
}
.pineapple:before{
    position: absolute;
    content: "";
    height: 6vw;
    width: 2vw;
    background-color: #ffdd00;
    top: 2vw;
    z-index: -1;
    transform-origin: bottom;
    border-radius: 2vw;
}
.pineapple:before{
    left: 1vw;
    transform: rotate(-50deg);
    animation: hand-l 0.5s infinite;
}
@keyframes hand-l{
    50%{
        transform: rotate(-42deg);
    }
}
.pineapple:after{
    position: absolute;
    content: "";
    height: 6vw;
    width: 2vw;
    background-color: #ffdd00;
    top: 2vw;
    z-index: -1;
    transform-origin: bottom;
    border-radius: 2vw;
}
.pineapple:after{
    left: 11vw;
    transform: rotate(-50deg);
}

.leg-left,
.leg-right{
    height: 6vw;
    width: 2vw;
    background-color: #ffdd00;
    border-radius: 2vw;
    position: absolute;
    top: 9vw;
    border-radius: 2vw;
    z-index: -1;
}
.leg-left{
    left: 2vw;
}
.leg-right{
    right: 2vw;
}

.eye-left,
.eye-right{
    background-color: #1e1e1e;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    animation: blink 1s infinite;
}
.eye-left{
    left: 2vw;
}
.eye-right{
    right: 2vw;
}
@keyframes blink{
    20%{
        transform: scaleY(0.3);
    }
    25%{
        transform: scaleY(1);
    }
}
.mouth{
    height: 1vw;
    width: 2vw;
    background-color: #1e1e1e;
    border-radius: 0 0 2vw 2vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 7vw;
}
@keyframes jump{
    50%{
        top: 7vw;
    }
}
.shadow{
    height: 2vw;
    width: 11vw;
    background-color: rgba(30,30,30,0.05);
    border-radius: 50%;
    position: absolute;
    top: 20vw;
    z-index: -2;
    margin: auto;
    left: 0;
    right: 0;
}