header{
    background: fixed;
    background-image: url("../Ressources/topfond.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
    margin-top:-5vw;
    height:clamp(200pt,30vw,500pt);

    position :relative;
    width : 100%;
}

body{
    background-color: rgb(248, 248, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:100%;
}

h1{
  
    background-color: #ffffff77;
    font-size: clamp(30pt,8vw,80pt);
    color:rgb(103, 95, 186);
    text-align: center;
    position:absolute;
    top:50%;

    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation: apparition 0.8s ease-out;
}
    
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

embed{
    position: absolute;
    margin-left: 12%;
    width: 75%;
    height: 50vw;
}

footer{
    background: fixed;
    position : absolute;
    background-color: rgb(0, 18, 213);
    width:100%;
    left:0pt;
    bottom:0pt;
}


.carre{
    border-radius: 50vw;
    background-color: rgb(255, 221, 0);  
     
    margin:5vw;
    margin-left: 15vw;
    
    width: clamp(20pt,50vw,600pt);
    height:clamp(20pt,12vw,200pt);

    position:relative;
    
}

.carreSlave{
    font-size: 4vw;
    position:absolute;
    top:5%;
    left:2%;
    color:rgb(116, 100, 236)

}
.carre:hover{
    margin-left: 20vw;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cerclePicto{
    border-radius: 4vw;
    background-color: rgb(116, 100, 236); 
    position: relative;
    text-align: center;
    width: 35pt;
    height:35pt;

}

.picto{
    position: absolute;
    color: black;
    top: 28%;
    left: 8%;
    width: 30pt;
    height:30pt;
}

.carreCours{
    border-radius: 4vw;
    background-color: rgb(255, 221, 0);  
     
    margin:5vw;
    width: 200pt;
    height:200pt;

    position:relative;
    flex: 0 1 20vw;
 
}
.carreSlaveCours{
    font-size: 43px;
    position:absolute;
    top:5%;
    left:2%;
    color:rgb(116, 100, 236)

}
.carreCours:hover {
    animation: nope .4s forwards;
}

@keyframes nope {

    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }

}